.App {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 47, 47);

}

.flex-item-0{
  order: 0;
  background-image:url('../images/summer_sunset.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.flex-item-0 h1 {
  text-align: center;
  padding-top: 100px;
  color:rgb(255, 255, 255);
  font-family: serif;
  font-size: 80px;
  transform:translateY(y);
}

.flex-item-1 {
  order: 1;
  background-image:url('../images/boardwalk.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.flex-item-2 {
  order: 2;
  flex: 1;
  background-color: wheat;
}




.flex-item-2 img {

  height: 30%;
  width: 100%;
} 




h1{
  font-size: 80px;
  color: rgb(197, 187, 168);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
}